{% extends 'base.html' %}

{% block meta %}

<title>Register</title>

{% endblock meta %}

{% block content %}  

<div class="flex justify-center">
  <div class="w-80 mt-40 p-10 shadow-lg rounded-md justify-center">
    <h1 class="inline font-extrabold text-transparent text-5xl bg-clip-text bg-gradient-to-r from-blue-600 to-red-600">
      Register
    </h1>    
    <form method="POST" action="">
      {% csrf_token %}
      <div class="mt-6">
        <h2 class="text-lg">Username</h2>
        <input class="form-control mt-2 w-full rounded-md" type="text" name="username" id="id_username" placeholder="Username">
      </div>
      <div class="mt-2">
        <h2 class="text-lg">Password</h2>
        <input class="form-control mt-2 w-full rounded-md" type="password" name="password1" id="id_password1" placeholder="Password">
      </div>
      <div class="mt-2">
        <h2 class="text-lg">Confirm Password</h2>
        <input class="form-control mt-2 w-full rounded-md" type="password" name="password2" id="id_password2" placeholder="Confirm Password">
      </div>
      <div class="mt-2 flex">
        <p class="text-sm">
          Sudah mempunyai akun?
          <a href="{% url 'wishlist:login' %}">
            <p class="ml-1 text-sm text-blue-600">
              Login
            </p>
          </a>
        </p>
      </div>
      <div class="mt-6">
        <input class="rounded-md shadow-md px-6 py-2 transition ease-in-out bg-gradient-to-r from-blue-600 to-red-600 text-white hover:scale-110" type="submit" value="Register">
      </div>
    </form>
  </div>
</div>

{% endblock content %}