{% extends 'base.html' %}

{% block content %}

<div class="flex justify-center">
  <div>
    <table class="item-table bg-black">
      <tr class="item-table-row">
        <th class="item-table-cell">Nama Barang</th>
        <th class="item-table-cell">Harga Barang</th>
        <th class="item-table-cell">Deskripsi</th>
      </tr>
      {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
      {% for barang in list_barang %}
        <tr class="item-table-row">
          <th class="item-table-cell">{{barang.nama_barang}}</th>
          <th class="item-table-cell">{{barang.harga_barang}}</th>
          <th class="item-table-cell">{{barang.deskripsi}}</th>
        </tr>
      {% endfor %}
    </table>
    <h5 class="mt-2">Nama: {{nama}}</h5>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
  </div>
</div>

{% endblock content %}